<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/c48f96fb5c.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Players</title>
    <link rel="stylesheet" href="~/css/style_e-players.css">
</head>

<body>
    <header>
        <div class="ContainerHeader">

            <a class="btn_menu" href="javascript:void(0)" onclick="botaoDoMenu()">
                <i class="fas fa-bars"></i>
            </a>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/assets/logo.svg" alt="Logo E-Players">
            </a>
            <nav id="links" class="linksMenu">
                <a href="#inicio">início</a>
                <a href="#horarios">horários</a>
                <a href="#campeonato">campeonato</a>
                <a href="#">resultados</a>
                <a href="#noticias">notícias</a>
            </nav>


        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <nav class="rodape">
            <div class="resp_footer">
                <div class="links_rodape margem_resp">
                    <span>Links úteis</span>
                    <ul>
                        <a href="#">
                            <li>Regras de utilização</li>
                        </a>
                        <a href="#">
                            <li>Suporte</li>
                        </a>
                        <a href="#">
                            <li>Central de ajuda</li>
                        </a>
                        <a href="#">
                            <li>Contato</li>
                        </a>
                    </ul>
                </div>
                <div class="links_rodape margem_resp">
                    <span>Páginas</span>
                    <ul>
                        <a href="#">
                            <li>Início</li>
                        </a>
                        <a href="#">
                            <li>Campeonatos</li>
                        </a>
                        <a href="#">
                            <li>Resultados</li>
                        </a>
                        <a href="#">
                            <li>Notícias</li>
                        </a>
                        <a href="#">
                            <li>Login/Cadastro</li>
                        </a>
                    </ul>
                </div>
            </div>

            <img class="margem_resp" src="~/assets/logo.svg" alt="Logo E-Players">
            <div class="news_footer margem_resp">
                <span>Faça parte do nosso clã, assine nossa newsletter:</span>
                <div class="newsletter">
                    <input class="barra_de_cadastro" type="text" placeholder="Email">
                    <button class="cadastrar" type="button">Cadastrar</button>
                </div>
                <div class="RedesSociais">
                    <span>Siga-nos em:</span>
                    <img src="~/assets/instagram (1).png" alt="Logo da rede social Instagram">
                    <img src="~/assets/youtube (1).png" alt="Logo da plataforma de vídeos youtube">
                    <img src="~/assets/facebook (1).png" alt="Logo da rede social Facebook">
                </div>

            </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
