@model Equipe
@{
    ViewData["Title"] = "Equipes";
}
<script src="https://kit.fontawesome.com/39a47b8673.js" crossorigin="anonymous"></script>

<section class="banner_cadastro">
    <h1>Cadastro de times</h1>
</section>
<section class="formulario">
    <nav class="cadastro">
        <form class="times" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
            <div>
                <label>ID da Equipe</label><br>
                <input class="altura" type="text" name="IdEquipe">
            </div>
            <div>
                <label>Nome da Equipe</label><br>
                <input class="altura" type="text" name="Nome">
            </div>
            <div>
                <label>Emblema</label>
                <input type="file" name="Imagem">
            </div>
            <button type="submit" class="button">Cadastrar</button>

        </form>
        <div class="lista_times">
            <h2>Lista de times</h2>

            <table class="equipes">
                <thead>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Foto</th>
                    <th>Excluir</th>
                </thead>
                <tbody>
                    @foreach (Equipe item in ViewBag.Equipe)
                    {
                        <tr >
                            <td>@item.IdEquipe</td>
                            <td>@item.Nome</td>
                            <td><img src="/img/Equipes/@item.Imagem" alt="Logo da equipe" width="50px"></td>
                            <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@item.IdEquipe"><i
                                    class="fas
    fa-trash" width="300px" style="color:white"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </nav>
</section>