@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto 120px;
    align-items: center;
    
}

title{
    display: none;
}

body{
    overflow-x: hidden;
}

.logo{
    width: 215px;
    height: 60px;
}

.cabecalho{
    width: 100%;
    height: 60px;
    position: fixed;
    border:none;
    z-index: 99;
}

.frame_footer{
    width: 100%;
    height: 200px;
    border: none;
}

header{
    width:100%;
    background-color: #1E1C21;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 99;
    justify-content: center;
   
}

.ContainerHeader{
    width:1200px;
    margin:auto 120px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.linksMenu a, li{
     height: 22px;
     text-decoration: none;
     color: white;
     text-transform:uppercase;
     font-family: 'Roboto', sans-serif;
}

.linksMenu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:691px;
}

.banner{
        height:550px;
        background: linear-gradient(89.86deg, #2459D5 0.92%, #284791 9.17%, #14264F 22.57%, #0D1934 40.09%, #000 70%, #000 .42%, #000 89.57%, #000 99.88%);
        overflow: hidden;
        display: flex;
        justify-content: center;
}

.banner nav{
    display: flex;
    justify-content: space-between;
}
.imagem_banner1{
    width:72px;
}

.imagem_banner1 img{
    width: 675px;
    height: 806px;
    margin-left: -73px;
}

.botao{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 304px;
    margin: 0px 0px 235px 0px;
    width: 404px;
}

.botao span{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
} 

.botao h1{
    color: white;
    font-family: 'Titillium Web';
    font-weight: bold;
    font-size:66px;
    height: 96px;
    
}

.CPA{

    width: 205px;
    height: 55px;
    background-color: #2459D5;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 65px;
    filter:brightness(1.2);
    
}

.CPA a{
    text-decoration: none;
    color: white;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 23px;
    text-align: center;
}

.parcerias{
    background-color:black;
    height: 122px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.jogos{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 120px;
    width: 1200px;
}

.formula{
    width: 152px;
    height: 41px;
}

.lol{
    width: 170px;
    height: 64px;
}

.csgo{
    width: 225px;
    height: 70px;
}

.valorant{
    width: 205px;
    height: 28px
}

.fifa{
    width: 130px;
    height: 60px;
}

.sobre{
    background: linear-gradient(0deg, rgba(221, 113, 13, 0.55), rgba(221, 113, 13, 0.55)), url(assets/overwatch.jpg);
    height: 500px;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.conteudo{
    width: 215%;
    left: -8px;
    height: 400px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    transform: rotate(-2deg);
    top: 695px;
}

.sobre img{
    width: 400px;
    height: 500px;
    z-index: 8;
}



.TextoSobre{
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    z-index: 8;
    width: 597px;
    height: 289px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.TextoSobre h2{
    font-size: 40px;
}

.TextoSobre p{
    font-size: 20px;
}

.partidas{
    height: 122px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.partidas span{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform:uppercase;
    font-size: 20px;
    width: 50px;
    font-weight: bolder;

}

.partidas nav{
    margin: auto 120px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.partidas p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
}

.partidas div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
}

.partidas hr{
   
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    right: auto;
}

.noticias{
    height: 800px;
    background-color: #1E1C21;
    display: flex;
    justify-content: center;
    
}

.blocos_noticias{
    
    width: 800px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.blocos_noticia img{
    width: 100%;
    height:100px;
}
.blocos_noticias article{
    display: flex;
    flex-direction: column;
    width: 195px;
    background: linear-gradient(180deg, #C4C4C4 0%, #7C7C7C 0.01%, #434343 18.23%, #0D0D0D 57.81%, #000000 72.92%);
    filter: drop-shadow(10px 10px 15px #000000);
    height: 275px;
}

.blocos_noticias div{
    display: flex;
    justify-content: space-between;
}

.blocos_noticias h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 17px;
    margin: 10px 13px
}

.blocos_noticias p{
    color: white;
    margin: auto 13px 14px 13px;
    font-family: 'Roboto', sans-serif;
}

.bloco_partidas{
    height: 635px;
    width: 195px;
    background: linear-gradient(180deg, #0B2D7C 0%, rgba(11, 45, 124, 0) 100%);   
    box-shadow: 10px 10px 15px #000000;
}

.secao_noticias{
    display:flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 1200px;
    margin: auto 120px;
}

.blocos_noticias h2{
    margin-bottom: -70px;
}

.box_partidas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 680px;
}

.noticias h2{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
}

.bloco_partidas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bloco_partidas p{
    justify-content: center;
    display: flex;
    color: white;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
}

.bloco_partidas div{
    
    align-items: center;
    width: 155px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform:uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin: 20px 20px 5px 20px;
}

.bloco_partidas img{
    width: 30px;
    height: 30px;
}

.outros_jogos{
    display: flex;
    justify-content: space-between;
}

footer {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.rodape{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 120px;
    align-items: center;
    width: 1200px;
    
}

.links_rodape ul{
    list-style-type: disc;
    margin: auto 15px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.links_rodape a{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;

}

.links_rodape span{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;

}

.links_rodape{
    height: 60%;
    width: 150px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.rodape img{
    width: 200px;
}

.barra_de_cadastro{
    height:100%;
    width: 175px;
}

.newsletter{
    height: 29px;
    width: 268px;
}

.cadastrar{
    height: 100%;
    background-color: #E1A32A;
    width: 33%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}

.news_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}

.news_footer span{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.RedesSociais{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.RedesSociais img{
    width: 40px;
    height: 40px;
}

.RedesSociais span{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    height: 100%;
   
}

.resp_footer{
    display: flex;
    justify-content: space-between;
    width: 294px;
}



/* Página de cadastro de times*/
.banner_cadastro{
    height: 340px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(87, 23, 137, 0.81), rgba(87, 23, 137, 0.81)), url(assets/rocket.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

}

.formulario{
    background-color: #1E1C21;
    width: 100%;
    height: 755px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro{
    height: 585px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cadastro h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.lista_times{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    justify-content: space-between;
}

.times{
    width: 600px;
    height: 300px;
    background: linear-gradient(180deg, #100F0F 0%, #353232 51.56%, #100F0F 100%);
    box-shadow: 12px 12px 25px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.times div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 0 50px;
    width: 90%;
}

.times button{
    filter:brightness(1.2);
    cursor: pointer;
}

.altura{
    height: 30px;
}

.largura{
    width: 150px;
}

.times label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.button{
    background-color: #581C8A;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.equipes{
    width: 100%;
    color: white;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-spacing: 0px;

}

.equipes th{
    background-color: black;
    border-bottom: 2px solid white; 
    height: 40px;
}

.equipes td{
    text-align: center;
}



/* Página de cadastro de times*/



/* Página de cadastro de jogadores*/
.banner_cadastro2{
    height: 340px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(120, 89, 9, 0.69), rgba(120, 89, 9, 0.69)), url(assets/scorpion.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-position-y: -80px;
}

.banner_cadastro3{
    height: 340px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(269.98deg, rgba(184, 101, 54, 0.53) 0.02%, rgba(170, 93, 50, 0.439125) 33.47%, rgba(98, 61, 109, 0.212) 50.38%, rgba(64, 46, 137, 0.3339) 63.95%, rgba(33, 32, 163, 0.4399) 86.41%, rgba(9, 68, 182, 0) 99.36%), url(assets/bannerLogin.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    background-position-y: -80px;
}

.times2{
        height: 425px;

}

.formulario2{
    height: 860px;
}

.cadastro2 {
    height: 725px;
}

.button2{
    background-color: #D09807;
}

.button3{
    background-color: #DC631F;
}

.equipes2{
    height:165px;
}

.btn_menu{
    display: none;
}

.fa-chevron-right{
    color: white;
    position: relative;
    left: 612px;
    display: none;

}

.fa-chevron-left{
    color: white;
    position: relative;
    left: 612px;
    display: none;
}

/* Página de cadastro de jogadores*/





@media(max-width: 599px){
    
    .frame_footer{
        height: 407px;
    }


    .fa-chevron-right{
        display: inline-block;
        color: white;
        position: absolute;
        left: 367px;
        top: 640px;
        z-index: 99;
    }
    
    .fa-chevron-left{
        display: inline-block;
        color: white;
        position: absolute;
        left:45px;
        top: 640px;
        z-index: 99;
    }

    .banner_cadastro h1{
        width: 200px;
        text-align: center;
    }

    .banner{
        background: linear-gradient(156.39deg, #2459D5 1.6%, #284791 12.79%, #14264F 27.39%, #070E1D 42.43%, #000 62.19%, #000 101.83%);
        height: 587px;
    }
    .ContainerHeader {
        margin: auto 37px;
        justify-content: flex-start;

    }

    .banner_cadastro2 h1{
        width: 200px;
        text-align: center;
    }
    .btn_menu{
        display: inline-block;
        margin-right: 50px;
        color: white;
        font-size:30px;
    }

    .imagem_banner1 {
        width: 0;
        opacity: 0.3;
    }

    .CPA{
        margin-top: 51px;
        width: 161px;
        height: 52px;
    }

    .CPA a{
        font-size: 24px;
    }
    

    .jogos img{
        margin: 8%;
    }

    .botao h1{
        font-size: 55px;
    }

    .botao span{
        font-size: 14px;
    }

    .botao{
        margin: 30px 30px;
        width: 360px;
        opacity: 0.9;
        height: 227px;
    }

    .margem_resp{
        margin: 25px 0
    }

    footer{
        height: auto;
    }

    .resp_footer{
        align-items: center;
    }

    

    .linksMenu{
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        position: absolute;
        left: 0;
        margin-top: 240px;
        background-color: #1E1C21;
        height: 180px;
        align-items: flex-start;
    }

    .linksMenu a{
        margin: auto 37px;
    }

    .cabecalho{
        height: 240px;
    }

/* Página de cadastro de jogadores*/

    .cadastro{
        width: 80%;
    }

    .cadastro2{
        width: 80%;
    
    }

    .banner_cadastro2{
        font-size: 22px;
    }


    .cadastro h2{
        font-size: 22px;
    }

    .rodape{
        flex-direction: column;
    }
}

@media(min-width:600px){
    @media(max-width:1190px){
    .logo{
        width: 22%;
        
    }

    footer{
        height: auto;
    }

    .rodape{
        flex-direction: column;
    }

    .resp_footer{
        align-items: center;
        width: 90%;
    }

    .frame_footer{
        height: 407px;
    }

    .margem_resp{
        margin: 25px 0
    }

    .ContainerHeader{
        margin: auto 5%;
    }

    .linksMenu{
        width: 68%;
        
    }

    .linksMenu a{
        font-size: 71%;
        height: 17px;
    }

    .cadastro{
        width: 80%;
    }

    .cadastro2{
        width: 80%;
    
    }

}
}
